* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

.plus1-click-5, .plus1-click-10, .plus1-click-20 {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    min-width: 100px
}
.minus1-click {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    min-width: 100px
}

#totalClicks1 {
    font-size: 2.5rem;
    padding: 0 40px;
}

/*  Contagem de pontos  */

main svg {
    height: 500px;
}
.cls-7 {
    fill: #fff;
    stroke: #fff;
    }
.cls-8 {
    fill: #fff;
    stroke: #fff;
    }
.cls-9 {
    fill: #fff;
    stroke: #fff;
    }
.cls-10 {
    stroke: transparent;
    }
.cls-11 {
    stroke: transparent;
}