@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./src/domino-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

main {
    background-color: #000000c2;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100svh;
}

/*  Heading  */

.heading {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*  Fonts  */

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3vh 0;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
}

li {
    align-items: center;
    background-color: #23232382;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 3vh 0;
    padding: 3vh;
    text-transform: uppercase;
    width: 180px;
}

li:hover {
    background-color: #232323;
}

.playerPoints {
    font-weight: 900;
}

/*  Contagem de pontos  */

main svg {
    height: 250px;
    margin-bottom: 50px;
}

.cls-1, .cls-2, .cls-4 {
    fill: #fff;
    stroke: #fff;
}
.cls-3 {
    fill: #0000008f;
}

.cls-10, .cls-11, .cls-20, .cls-22, .cls-30, .cls-33 {
    fill: transparent;
}

.ticked {
    stroke: #fff;
}

/* Players Template */

.playerName {
    cursor: pointer;
}

.playersTemplate {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.player1, .player2, .player3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.plus-five-button1, .plus-five-button2, .plus-five-button3 {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    height: 120px;
    position: absolute;
    top: 13%;
    width: 125px;
}
.minus-five-button1, .minus-five-button2, .minus-five-button3 {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    height: 120px;
    position: absolute;
    top: 36%;
    width: 125px;
}

.container1, .container2, .container3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/*  Buttons  */

button {
    border-radius: 5px;
}

.plus1-click-5, .plus1-click-10, .plus1-click-20, .plus2-click-5, .plus2-click-10, .plus2-click-20, .plus3-click-5, .plus3-click-10, .plus3-click-20{
    background-color: #0000008f;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    min-width: 100px;
}

.minus1-click, .minus2-click, .minus3-click {
    background-color: #0000008f;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    min-width: 100px
}

#totalClicks1, #totalClicks2, #totalClicks3 {
    font-size: 2.5rem;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
.modal-content {
    align-items: center;
    background-color: #000000e9;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1vh;
    height: 100%;
}

#baixar4, #baixar5, #baixar6 {
    background-color: #8f0a0a;
    border: transparent;
    padding: 2vh 4vh;
}

#baixar4:hover, #baixar5:hover, #baixar6:hover {
    background-color: #232323;
    cursor: pointer;
}

.modal-content span {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
}

.modalOptions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalOptions-carroes {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.modalOptions-carroes li {
    width: 20px;
}
  
.close:hover,
.close:focus {
    color: #8f0a0a;
    text-decoration: none;
    cursor: pointer;
}
  
.modalOptions > li{
    cursor: pointer;
    list-style-type: none;
}

/*  Media Queries  */

@media (width < 400px) {
    #Layer_1, #Layer_2, #Layer_3 {
        height: 200px;
    }
    h2 {
        font-size: 1rem;
    }
    li {
        font-size: 1rem;
        margin: 3vh 0;
        width: 120px;
    }
    #baixar4, #baixar5, #baixar6 {
        padding: 10px 0;
        width: 40px;
    }
    .modalOptions-carroes {
        display: flex;
        gap: 2vh;
    }
}

@media (width > 980px) {
    body {
        background-color: #2d2d2d;
        background-image: none;
    }
    main svg {
        margin-bottom: 10px;
    }
    .plus1-click-5, .plus1-click-10, .plus1-click-20, .plus2-click-5, .plus2-click-10, .plus2-click-20, .plus3-click-5, .plus3-click-10, .plus3-click-20 {
        font-size: 1.5rem;
        min-width: 80px
    }    
    .minus1-click, .minus2-click, .minus3-click {
        font-size: 1.5rem;
        min-width: 80px
    }    
    #totalClicks1, #totalClicks2, #totalClicks3 {
        font-size: 1.5rem;
    }
}

@media (width > 1400px) {
    #Layer_1, #Layer_2, #Layer_3 {
        height: 400px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}

/*  Webkit  */

body,
body::selection {  
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}